# Environment variables
.env

# Python cache and compiled files
__pycache__/
*.pyc

# Environment/Virtual Environments
venv/
env/

# OS specific files
.DS_Store

.env
.env.save
.streamlit/secrets.toml
.env
.env.save
.streamlit/secrets.toml
